<%= simple_form_for film do |f| %>
  <%= f.input :name, placeholder: "TX-400" %>
  <%= f.input :brand, placeholder: "Fuji" %>
  <%= f.input :iso, placeholder: "200" %>

  <div class="clearfix">
    <%= f.submit class: "btn pull-right" %>
  </div>
<% end %>