<h1>new film</h1>
<%= form_for @film, :html => {:class => "film_form"} do |f| %>
  name: <%= f.text_field :name %>
  brand: <%= f.text_field :brand %>
  iso: <%= f.text_field :iso %>

  <%= f.submit "Create" %>
<% end %>