<h2><%= @film.brand %> <%= @film.name %></h2>
<p>Native ISO: <%= @film.iso %></p>

<hr>

<div class="table_wraper">
  <table class="dev_time_table">
    <%= render 'development_times/table_head' %>
    <tbody>
      <%= render @film.development_times %>
    </tbody>
  </table>
</div>

<hr>
