<tr>
	<td> <%= development_time.film.name %> </td>
	<td class="align_right"> <%= development_time.iso %> </td>
	<td> <%= development_time.developer.name %> </td>
	<td class="align_center"> <%= development_time.dillution %> </td>
	<td class="align_center"> <%= humanize development_time.seconds %> </td>
	<td class="align_center"> <%= development_time.temperature %>&deg;C </td>
	<td class="align_right"> <%= development_time.rating %> </td>
</tr>