<%= simple_form_for development_time do |f| %>
  <div>
    <div class="clearfix">
      <%= f.association :film, include_blank: false, input_html: { class: "film pull-right" }  %>
    </div>

    <div class="clearfix">
      <%= f.input :iso, placeholder: "100", input_html: { class: "iso pull-right" }  %>
    </div>
  </div>

  <div>
    <div class="clearfix">
      <%= f.association :developer, include_blank: false, input_html: { class: "developer pull-right" }  %>
    </div>

    <div class="clearfix">
      <%= f.input :dillution, placeholder: "1:63", input_html: { class: "dillution pull-right" }  %>
    </div>

    <div class="clearfix">
      <%= f.input :temperature,
                  placeholder: "20",
                  input_html: { class: "temperature pull-right" },
                  html: {class: "inline"} %>
    </div>
  </div>

  <div
  <div class="clearfix">
    <%= f.input :seconds, placeholder: "300", input_html: { class: "time pull-right" }  %>
  </div>

  <hr>

  <div class="clearfix">
    <%= f.input :rating, default: "3", input_html: { class: "rating, pull-right" } %>
  </div>

  <div class="clearfix">
    <%= f.input :notes, input_html: { class: "pull-right", rows: "5" }  %>
  </div>

  <hr>

  <div class="clearfix">
    <%= f.submit class: "btn pull-right" %>
  </div>
<% end %>